- **Name - Kailash Konkal**
- **Project - Capstone Clothing Brand Project**

In [1]:
# import nessesary library
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

**Brand - Old Navy**

In [2]:
#open the wikipedia page on automated chrome browser
driver = webdriver.Chrome()

In [3]:
driver.get("https://oldnavy.gap.com/")

In [4]:
women = driver.find_element(By.XPATH,'//div[@class="sitewide-1ivvj99"]/a[1]')
women.click()

In [5]:
# 500 time we scroll down by 10000 in order to generate more product on the website.
print("scroll page for generate more products")
for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

scroll page for generate more products

In [6]:
Description=[]
Price = []

In [11]:
# scraping the description of product    
des = driver.find_elements(By.XPATH,'//div[@class="category-page-1r1wcud"]')
for a in des:
    Description.append(a.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//div[@class="product-price__highlight"]')
for b in prices:
    Price.append(b.text)

In [12]:
#print len
print(len(Description),len(Price))

300 300

In [13]:
brand = ['Old Navy'] * len(Description)
category = ['Womens Wear'] * len(Description)

In [14]:
Old_Navy = pd.DataFrame({})
Old_Navy['Brand1']= brand
Old_Navy['Price1'] = Price
Old_Navy['Description1']= Description
Old_Navy['Category1']= category
Old_Navy

,Brand1,Price1,Description1,Category1
0,Old Navy,$10.47,Loose Satin Button-Down Shirt,Womens Wear
1,Old Navy,$15.47,High-Waisted OG Loose Cotton-Hemp Blend Jeans,Womens Wear
2,Old Navy,$6.47,Luxe Tunic T-Shirt,Womens Wear
3,Old Navy,$8.97,Loose Crepe Button-Down Shirt,Womens Wear
4,Old Navy,$14.97,Tie-Shoulder Underwire One-Piece Swimsuit,Womens Wear
...,...,...,...,...
295,Old Navy,$22.97,High-Waisted OG Loose Faux-Leather Pants,Womens Wear
296,Old Navy,$4.96,Ribbed Halter Top,Womens Wear
297,Old Navy,$27.47,High-Waisted OG Loose Faux-Leather Pants,Womens Wear
298,Old Navy,$13.47,High-Waisted Pixie Mini Skirt,Womens Wear
299,Old Navy,$4.96,Rib-Knit Crop Tank Top,Womens Wear

In [15]:
driver.close()

**Brand - Allen Solley**

In [16]:
#open the allen solley page on automated chrome browser
driver = webdriver.Chrome()

In [17]:
driver.get("https://allensolly.abfrl.in/")

In [18]:
search = driver.find_element(By.XPATH,'//*[@id="headerMenu"]/div/div/div[3]/div[1]/div/input')
search.send_keys("Kids")

In [20]:
click = driver.find_element(By.XPATH,'//p[@class="MuiTypography-root MuiTypography-body1 Header_searchresult__Tvqzn css-12a9y8i"]')
click.click()

In [21]:
load_more = driver.find_element(By.XPATH,'//*[@id="__next"]/main/div/div[4]/div/div[2]/button')
load_more.click()

In [22]:
Brand = []
Description = []
Price = []
Color = []
Category = []

In [23]:
des = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')
for a in des:
    Description.append(a.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//span[@class="price"]')
for b in prices:
    Price.append(b.text)

In [24]:
Brand = ['Allen Solley'] * len(Description)
Category = ['Kids Wear'] * len(Description)

In [25]:
As = pd.DataFrame({})
As['Brand2']= Brand
As['Price2'] = Price
As['Description2']= Description
As['Category2']= Category
As

,Brand2,Price2,Description2,Category2
0,Allen Solley,"â‚¹ 1,399",Boys Blue Regular Fit Jeans,Kids Wear
1,Allen Solley,"â‚¹ 1,999",Boys Black Regular Fit Solid Casual Shirt,Kids Wear
2,Allen Solley,"â‚¹ 1,399",Boys Navy Regular Fit Jeans,Kids Wear
3,Allen Solley,"â‚¹ 2,099",Girls Pink Embellished Regular Fit Party Dress,Kids Wear
4,Allen Solley,"â‚¹ 2,299",Girls Purple Embellished Regular Fit Casual Dress,Kids Wear
...,...,...,...,...
539,Allen Solley,"â‚¹ 1,699",Boys Navy Slim Fit Check Casual Shirt,Kids Wear
540,Allen Solley,"â‚¹ 2,999",Boys Black Solid Regular Fit Sweatshirt and Tr...,Kids Wear
541,Allen Solley,"â‚¹ 1,299",Boys Black Regular Fit Print Crew Neck T-shirt,Kids Wear
542,Allen Solley,"â‚¹ 1,499",Boys Navy Regular Fit Solid Shorts,Kids Wear
543,Allen Solley,â‚¹ 899,Girls Purple Embellished Casual T-shirt,Kids Wear

In [26]:
driver.close()

**Brand-Biba**

In [27]:
#open the biba page on automated chrome browser
driver = webdriver.Chrome()

In [28]:
driver.get("https://www.biba.in/")

In [29]:
product = driver.find_element(By.XPATH,'//*[@id="new-arrival"]')
product.click()

In [30]:
Brand = []
Description = []
Price = []
Category = []

In [38]:
des = driver.find_elements(By.XPATH,'//h3[@class="pdp-link"]')
for a in des:
    Description.append(a.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//span[@class="sales"]')
for b in prices:
    Price.append(b.text)

In [39]:
# print len
print(len(Description),len(Price))

1164 1164

In [40]:
Brand = ['Biba'] * len(Description)
Category = ['ladies Wear'] * len(Description)

In [41]:
biba = pd.DataFrame({})
biba['Brand3']= Brand
biba['Price3'] = Price
biba['Description3']= Description
biba['Category3']= Category
biba

,Brand3,Price3,Description3,Category3
0,Biba,"â‚¹4,999",Blue Polyester Straight Suit Set,ladies Wear
1,Biba,"â‚¹2,999",Beige Rayon Straight Suit Set,ladies Wear
2,Biba,"â‚¹2,999",Ice Blue Rayon Straight Suit Set,ladies Wear
3,Biba,"â‚¹3,999",White Pink Rayon Gathered Suit Set,ladies Wear
4,Biba,"â‚¹2,999",Turquoise Rayon Straight Suit Set,ladies Wear
...,...,...,...,...
1159,Biba,"â‚¹1,299",Denim Blue Polyester Straight Printed Kurti,ladies Wear
1160,Biba,"â‚¹1,599",Black Rayon Straight Printed Kurta,ladies Wear
1161,Biba,"â‚¹1,599",Mustard Rayon Straight Printed Kurta,ladies Wear
1162,Biba,"â‚¹1,999",Burnt Orange Poly Viscose Straight Printed Top,ladies Wear
1163,Biba,"â‚¹2,599",Black Polyester Straight Printed Top,ladies Wear

In [35]:
driver.close()

**Brand - FabIndia**

In [49]:
#open the fab india page on automated chrome browser
driver = webdriver.Chrome()

In [50]:
driver.get("https://www.fabindia.com/")

In [51]:
search = driver.find_element(By.XPATH,'//div[@class="search-icon"]')
search.click()

In [52]:
inputt = driver.find_element(By.XPATH,'//*[@id="searchBox"]')
inputt.send_keys("Mens")

In [54]:
select = driver.find_element(By.XPATH,'//span[@class="highlight fw-bold"]')
select.click()

In [55]:
Brand = []
Description = []
Price = []
Category = []

In [56]:
des = driver.find_elements(By.XPATH,'//a[@class="text-decoration-none text-muted text-secondary"]')
for a in des:
    Description.append(a.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//span[@class="offer-amount"]')
for b in prices:
    Price.append(b.text)

In [57]:
# print len
print(len(Description),len(Price))

1325 1325

In [58]:
Brand = ['Fab India'] * len(Description)
Category = ['Mens Wear'] * len(Description)

In [59]:
fab = pd.DataFrame({})
fab['Brand4']= Brand
fab['Price4'] = Price
fab['Description4']= Description
fab['Category4']= Category
fab

         Brand4  Price4                               Description4  Category4
0     Fab India    â‚¹899                   White Cotton Short Kurta  Mens Wear
1     Fab India  â‚¹2,999            Beige Silk Checks Regular Shirt  Mens Wear
2     Fab India    â‚¹999           Natural Cotton Woven Short Kurta  Mens Wear
3     Fab India    â‚¹999              Pink Cotton Woven Short Kurta  Mens Wear
4     Fab India  â‚¹1,599     White Cotton Dobby Slim Fit Long Kurta  Mens Wear
...         ...     ...                                        ...        ...
1320  Fab India  â‚¹1,899  Pink Cotton Slim Fit Geometric Long Kurta  Mens Wear
1321  Fab India  â‚¹1,899  Blue Cotton Slim Fit Geometric Long Kurta  Mens Wear
1322  Fab India  â‚¹2,299                         Beige Cotton Shirt  Mens Wear
1323  Fab India  â‚¹1,699        Black Cotton Printed Slim Fit Shirt  Mens Wear
1324  Fab India  â‚¹2,499     Red Cotton Printed Slim Fit Long Kurta  Mens Wear

[1325 rows x 4 columns]

In [60]:
driver.close()

**Brand - Levis**

In [61]:
#open the levis page on automated chrome browser
driver = webdriver.Chrome()

In [62]:
driver.get("https://levi.in/")

In [63]:
search = driver.find_element(By.XPATH,'//*[@id="Details-HeaderMenu-3"]/summary')
search.click()

In [64]:
Brand = []
Description = []
Price = []
Category = []

In [65]:
des = driver.find_elements(By.XPATH,'//a[@class="product-card__title tw-text-[12px] tw-min-h-[3rem] md:tw-text-[14px] lg:tw-mb-[8px] tw-line-clamp-2 tw-tracking-normal tw-leading-normal tw-text-[#333] tw-font-primary tw-font-normal"]')
for a in des:
    Description.append(a.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//div[@class="tw-text-[12px] lg:tw-text-[14px] tw-flex tw-flex-wrap tw-items-center tw-min-h-[2rem]"]//span[1]')
for b in prices:
    Price.append(b.text)

In [66]:
# print len
print(len(Description),len(Price))

785 785

In [67]:
Brand = ['Levis'] * len(Description)
Category = ['Womens Wear'] * len(Description)

In [68]:
levis = pd.DataFrame({})
levis['Brand5']= Brand
levis['Price5'] = Price
levis['Description5']= Description
levis['Category5']= Category
levis

    Brand5  Price5                              Description5    Category5
0    Levis    â‚¹949   Women's Striped Slim Fit T-shirt Purple  Womens Wear
1    Levis  â‚¹1,749      Women's Striped Round Neck Top Coral  Womens Wear
2    Levis  â‚¹1,699   Women's Solid Spread Collar Shirt Green  Womens Wear
3    Levis  â‚¹1,549  Women's Solid Spread Collar Shirt Yellow  Womens Wear
4    Levis  â‚¹1,149        Women's Solid Round Neck Top Green  Womens Wear
..     ...     ...                                       ...          ...
780  Levis  â‚¹1,649              Women's 711 Skinny Fit Jeans  Womens Wear
781  Levis  â‚¹1,249              Women's 711 Skinny Fit Jeans  Womens Wear
782  Levis  â‚¹1,649              Women's 711 Skinny Fit Jeans  Womens Wear
783  Levis  â‚¹2,999              Women's 711 Skinny Fit Jeans  Womens Wear
784  Levis  â‚¹2,999        Women's High RiseWide Leg Trousers  Womens Wear

[785 rows x 4 columns]

In [69]:
driver.close()

**Brand - Banetton**

In [70]:
#open the Monte Carlo page on automated chrome browser
driver = webdriver.Chrome()

In [71]:
driver.get("https://in.benetton.com/")

In [72]:
kids = driver.find_element(By.XPATH,'//*[@id="kids-menu-trigger"]')
kids.click()

In [73]:
boys = driver.find_element(By.XPATH,'//*[@id="maincontent"]/div[2]/div/div[1]/div/div/div/div/div/div/div[2]/div/div[2]/a[1]')
boys.click()

In [74]:
Brand = []
Description = []
Price = []
Category = []

In [75]:
# scraping the description of product
des = driver.find_elements(By.XPATH,'//div[@class="pdp-link"]')
for b in des:
    Description.append(b.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//span[@class="value"]')
for a in prices:
    Price.append(a.text)

In [76]:
# print len
print(len(Description),len(Price))

106 106

In [77]:
Brand = ['Banetton'] * len(Description)
Category = ['Kids Wear'] * len(Description)

In [78]:
bane = pd.DataFrame({})
bane['Brand6']= Brand
bane['Price6'] = Price
bane['Description6']= Description
bane['Category6']= Category
bane

       Brand6     Price6                               Description6  Category6
0    Banetton    â‚¹799.00     REGULAR FIT ROUND NECK PRINTED T-SHIRT  Kids Wear
1    Banetton  â‚¹1,299.00     REGULAR FIT ROUND NECK STRIPED T-SHIRT  Kids Wear
2    Banetton  â‚¹1,299.00     REGULAR FIT ROUND NECK PRINTED T-SHIRT  Kids Wear
3    Banetton  â‚¹1,499.00  REGULAR FIT SPREAD COLLAR CHECKERED SHIRT  Kids Wear
4    Banetton  â‚¹1,999.00  REGULAR FIT SPREAD COLLAR CHECKERED SHIRT  Kids Wear
..        ...        ...                                        ...        ...
101  Banetton    â‚¹999.00        REGULAR FIT POLO NECK SOLID T-SHIRT  Kids Wear
102  Banetton  â‚¹1,299.00     REGULAR FIT ROUND NECK PRINTED T-SHIRT  Kids Wear
103  Banetton    â‚¹999.00        REGULAR FIT POLO NECK SOLID T-SHIRT  Kids Wear
104  Banetton  â‚¹1,999.00       REGULAR FIT MANDARIN CHECKERED SHIRT  Kids Wear
105  Banetton  â‚¹1,499.00  REGULAR FIT SPREAD COLLAR TIE & DYE SHIRT  Kids Wear

[106 rows x 4 columns]

In [79]:
girls = driver.find_element(By.XPATH,'//*[@id="maincontent"]/div[2]/div/div[1]/div/div/div/div/div/div/div[2]/div/div[2]/a[2]')
girls.click()

In [80]:
Brand = []
Description = []
Price = []
Category = []

In [82]:
# scraping the description of product
des = driver.find_elements(By.XPATH,'//h2[@class="link"]')
for b in des:
    Description.append(b.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//span[@class="value"]')
for a in prices:
    Price.append(a.text)

In [83]:
# print len
print(len(Description),len(Price))

106 106

In [84]:
Brand = ['Banetton'] * len(Description)
Category = ['Kids Wear'] * len(Description)

In [85]:
ban = pd.DataFrame({})
ban['Brand7']= Brand
ban['Price7'] = Price
ban['Description7']= Description
ban['Category7']= Category
ban

       Brand7     Price7                               Description7  Category7
0    Banetton  â‚¹2,499.00    REGULAR FIT V-NECK PRINTED A-LINE DRESS  Kids Wear
1    Banetton  â‚¹1,299.00          REGULAR FIT POLO NECK PRINTED TOP  Kids Wear
2    Banetton  â‚¹1,999.00  REGULAR FIT ROUND NECK SOLID A-LINE DRESS  Kids Wear
3    Banetton  â‚¹1,999.00                   SOLID MID RISE CULLOTTES  Kids Wear
4    Banetton  â‚¹1,799.00        REGULAR FIT POLO NECK PRINTED DRESS  Kids Wear
..        ...        ...                                        ...        ...
101  Banetton  â‚¹1,799.00      REGULAR FIT SPREAD COLLAR PRINTED TOP  Kids Wear
102  Banetton  â‚¹1,299.00    REGULAR FIT ROUND NECK SEQUINED T-SHIRT  Kids Wear
103  Banetton  â‚¹2,799.00      SOLID STRAIGHT FIT FIT MID RISE CARGO  Kids Wear
104  Banetton    â‚¹999.00           REGULAR FIT ROUND NECK SOLID TOP  Kids Wear
105  Banetton    â‚¹999.00   REGULAR FIT ROUND NECK GRAPHIC PRINT TOP  Kids Wear

[106 rows x 4 columns]

In [86]:
driver.close()

**Brand - Peter England**

In [87]:
#open the fab india page on automated chrome browser
driver = webdriver.Chrome()

In [88]:
driver.get("https://peterengland.abfrl.in/")

In [91]:
search = driver.find_element(By.XPATH,'//*[@id="headerMenu"]/div/div/div[3]/div[1]/div/input')
search.send_keys("Formals")

In [92]:
click = driver.find_element(By.XPATH,'//p[@class="MuiTypography-root MuiTypography-body1 Header_searchresult__Tvqzn css-1bcywis"]')
click.click()

In [93]:
Brand = []
Description = []
Price = []
Category = []

In [94]:
# scraping the description of product
des = driver.find_elements(By.XPATH,'//div[@class="ProductCard_description__BQzle"]')
for b in des:
    Description.append(b.text)
# scraping the price of product
prices = driver.find_elements(By.XPATH,'//div[@class="ProductCard_productPrice__lHsjc productPrice"]')
for a in prices:
    Price.append(a.text)

In [95]:
# print len
print(len(Description),len(Price))

288 288

In [96]:
Brand = ['Peter England'] * len(Description)
Category = ['Mens Wear'] * len(Description)

In [97]:
Pe = pd.DataFrame({})
Pe['Brand8']= Brand
Pe['Price8'] = Price
Pe['Description8']= Description
Pe['Category8']= Category
Pe

,Brand8,Price8,Description8,Category8
0,Peter England,"â‚¹ 1,799",Men Blue Slim Fit Formal Full Sleeves Formal S...,Mens Wear
1,Peter England,"â‚¹ 2,499",Men Red Slim Fit Formal Full Sleeves Formal Shirt,Mens Wear
2,Peter England,"â‚¹ 1,799",Men Navy Check Slim Fit Formal Trousers,Mens Wear
3,Peter England,"â‚¹ 1,599",Men Blue Regular Fit Formal Half Sleeves Forma...,Mens Wear
4,Peter England,"â‚¹ 1,799",Men Blue Slim Fit Formal Full Sleeves Formal S...,Mens Wear
...,...,...,...,...
283,Peter England,"â‚¹ 1,599",Men White Regular Fit Formal Half Sleeves Form...,Mens Wear
284,Peter England,"â‚¹ 2,499",Men Grey Check Slim Fit Formal Trousers,Mens Wear
285,Peter England,"â‚¹ 1,399",Men Grey Regular Fit Formal Full Sleeves Forma...,Mens Wear
286,Peter England,"â‚¹ 2,499",Men White Slim Fit Formal Full Sleeves Formal ...,Mens Wear
287,Peter England,"â‚¹ 2,499",Men Blue Slim Fit Formal Full Sleeves Formal S...,Mens Wear

In [98]:
driver.close()

**Now we will combined all dataset and make a one dataframe.**

In [99]:
import pandas as pd

# Assuming you have DataFrames Old_Navy,As,biba,fab,levis,bane,ban,Pe

# Concatenate DataFrames vertically (stack them on top of each other)
combined_df = pd.concat([Old_Navy,As,biba,fab,levis,bane,ban,Pe], ignore_index=True)

# Create new DataFrame with concatenated columns
data = pd.DataFrame(columns=['Brand', 'Price', 'Description', 'Category'])

# Assign values from original DataFrames to new DataFrame
data['Brand'] = combined_df['Brand1'].fillna('') + ' ' + combined_df['Brand2'].fillna('') + ' ' + combined_df['Brand3'].fillna('')+ ' ' + combined_df['Brand4'].fillna('') + ' ' + combined_df['Brand5'].fillna('') + ' ' + combined_df['Brand6'].fillna('')+ ' ' + combined_df['Brand7'].fillna('') + ' ' + combined_df['Brand8'].fillna('')
data['Price'] = combined_df['Price1'].fillna('') + ' ' + combined_df['Price2'].fillna('') + ' ' + combined_df['Price3'].fillna('')+ ' ' + combined_df['Price4'].fillna('') + ' ' + combined_df['Price5'].fillna('') + ' ' + combined_df['Price6'].fillna('')+ ' ' + combined_df['Price7'].fillna('') + ' ' + combined_df['Price8'].fillna('')
data['Description'] = combined_df['Description1'].fillna('') + ' ' + combined_df['Description2'].fillna('') + ' ' + combined_df['Description3'].fillna('') + ' ' + combined_df['Description4'].fillna('') + ' ' + combined_df['Description5'].fillna('') + ' ' + combined_df['Description6'].fillna('') + ' ' + combined_df['Description7'].fillna('') + ' ' + combined_df['Description8'].fillna('')
data['Category'] = combined_df['Category1'].fillna('') + ' ' + combined_df['Category2'].fillna('') + ' ' + combined_df['Category3'].fillna('') + ' ' + combined_df['Category4'].fillna('') + ' ' + combined_df['Category5'].fillna('') + ' ' + combined_df['Category6'].fillna('') + ' ' + combined_df['Category7'].fillna('') + ' ' + combined_df['Category8'].fillna('')

In [100]:
import numpy as np
# Now we will add new columns those are difficult to extract so will add column with random choose.
data['Color'] = np.random.choice(['red', 'yellow', 'blue', 'black', 'white', 'green', 'brown', 'pink', 'olive'], size=len(data))
data['Product Code'] = np.random.randint(1000, 9999, size=len(data))
data['Origin'] = np.random.choice(['India', 'US','UK'], size=len(data))
data['Size'] = np.where(data['Category'] == 'Kids Wear', 
                                np.random.choice(['1-2y', '2-3y', '4-5y', '5-6y', '6-7y'], size=len(data)),
                                np.random.choice(['M', 'L', 'XL', 'XXL'], size=len(data)))
data['Product Type'] = np.random.choice(['Sportswear','Formal Shirt','Formal Trouser','Tshirt','Jeans'], size=len(data))
data['Material Type'] = np.random.choice(['Cotton','Denim','Polyster'], size=len(data))
data['Wear Type'] = np.random.choice(['Bottom Wear','Top Wear'], size=len(data))
data['Return Time'] = np.random.choice(['14 Days Return & Excahnge','7 Days Return & Excahnge'], size=len(data))
data['Occasion'] = np.random.choice(['Regular','Casual','Celebration'], size=len(data))

In [101]:
data.head()

,Brand,Price,Description,Category,Color,Product Code,Origin,Size,Product Type,Material Type,Wear Type,Return Time,Occasion
0,Old Navy,$10.47,Loose Satin Button-Down Shirt,Womens Wear,pink,4636,India,XL,Sportswear,Denim,Top Wear,7 Days Return & Excahnge,Casual
1,Old Navy,$15.47,High-Waisted OG Loose Cotton-Hemp Blend Jeans ...,Womens Wear,yellow,1082,US,M,Formal Trouser,Polyster,Bottom Wear,14 Days Return & Excahnge,Casual
2,Old Navy,$6.47,Luxe Tunic T-Shirt,Womens Wear,red,8375,UK,M,Formal Trouser,Denim,Bottom Wear,14 Days Return & Excahnge,Regular
3,Old Navy,$8.97,Loose Crepe Button-Down Shirt,Womens Wear,olive,3106,India,M,Formal Shirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Celebration
4,Old Navy,$14.97,Tie-Shoulder Underwire One-Piece Swimsuit,Womens Wear,red,9260,US,XXL,Jeans,Denim,Bottom Wear,7 Days Return & Excahnge,Celebration

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4618 entries, 0 to 4617
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4618 non-null   object
 1   Price          4618 non-null   object
 2   Description    4618 non-null   object
 3   Category       4618 non-null   object
 4   Color          4618 non-null   object
 5   Product Code   4618 non-null   int32
 6   Origin         4618 non-null   object
 7   Size           4618 non-null   object
 8   Product Type   4618 non-null   object
 9   Material Type  4618 non-null   object
 10  Wear Type      4618 non-null   object
 11  Return Time    4618 non-null   object
 12  Occasion       4618 non-null   object
dtypes: int32(1), object(12)
memory usage: 451.1+ KB

In [103]:
def convert_and_remove_currency(price):
    if price.startswith('$'):
        price_inr = float(price[1:]) * 83.20  # Assuming 1 USD = 83.20 INR (you can adjust this conversion rate)
        return 'â‚¹' + str(round(price_inr, 2))
    else:
        return 'â‚¹' + price[1:]

# Apply the function to the price column
data['Price'] = data['Price'].apply(convert_and_remove_currency)

In [104]:
data

,Brand,Price,Description,Category,Color,Product Code,Origin,Size,Product Type,Material Type,Wear Type,Return Time,Occasion
0,Old Navy,â‚¹871.1,Loose Satin Button-Down Shirt,Womens Wear,pink,4636,India,XL,Sportswear,Denim,Top Wear,7 Days Return & Excahnge,Casual
1,Old Navy,â‚¹1287.1,High-Waisted OG Loose Cotton-Hemp Blend Jeans ...,Womens Wear,yellow,1082,US,M,Formal Trouser,Polyster,Bottom Wear,14 Days Return & Excahnge,Casual
2,Old Navy,â‚¹538.3,Luxe Tunic T-Shirt,Womens Wear,red,8375,UK,M,Formal Trouser,Denim,Bottom Wear,14 Days Return & Excahnge,Regular
3,Old Navy,â‚¹746.3,Loose Crepe Button-Down Shirt,Womens Wear,olive,3106,India,M,Formal Shirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Celebration
4,Old Navy,â‚¹1245.5,Tie-Shoulder Underwire One-Piece Swimsuit,Womens Wear,red,9260,US,XXL,Jeans,Denim,Bottom Wear,7 Days Return & Excahnge,Celebration
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,Peter England,"â‚¹ â‚¹ 1,599",Men White Regular Fit Formal Half Sleev...,Mens Wear,blue,4067,UK,XL,Formal Shirt,Cotton,Top Wear,7 Days Return & Excahnge,Celebration
4614,Peter England,"â‚¹ â‚¹ 2,499",Men Grey Check Slim Fit Formal Trousers,Mens Wear,green,6384,US,XXL,Formal Shirt,Denim,Top Wear,14 Days Return & Excahnge,Casual
4615,Peter England,"â‚¹ â‚¹ 1,399",Men Grey Regular Fit Formal Full Sleeve...,Mens Wear,pink,9989,US,L,Tshirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Regular
4616,Peter England,"â‚¹ â‚¹ 2,499",Men White Slim Fit Formal Full Sleeves ...,Mens Wear,pink,1380,US,XL,Tshirt,Cotton,Top Wear,14 Days Return & Excahnge,Celebration
4617,Peter England,"â‚¹ â‚¹ 2,499",Men Blue Slim Fit Formal Full Sleeves F...,Mens Wear,brown,6115,UK,M,Tshirt,Denim,Top Wear,14 Days Return & Excahnge,Casual

In [105]:
# Remove currency symbol, commas, newline characters, and percentages
data['Price'] = data['Price'].str.replace('â‚¹', '')
data['Price'] = data['Price'].str.replace(',', '')
data['Price'] = data['Price'].str.replace('\n', '')
data['Price'] = data['Price'].str.replace('% OFF', '')

# Remove any non-numeric characters
data['Price'] = data['Price'].str.replace(r'\D', '')

# Convert to float
data['Price'] = data['Price'].astype(float)

# Convert float to int
data['Price'] = data['Price'].astype(int)

In [106]:
data

,Brand,Price,Description,Category,Color,Product Code,Origin,Size,Product Type,Material Type,Wear Type,Return Time,Occasion
0,Old Navy,8711,Loose Satin Button-Down Shirt,Womens Wear,pink,4636,India,XL,Sportswear,Denim,Top Wear,7 Days Return & Excahnge,Casual
1,Old Navy,12871,High-Waisted OG Loose Cotton-Hemp Blend Jeans ...,Womens Wear,yellow,1082,US,M,Formal Trouser,Polyster,Bottom Wear,14 Days Return & Excahnge,Casual
2,Old Navy,5383,Luxe Tunic T-Shirt,Womens Wear,red,8375,UK,M,Formal Trouser,Denim,Bottom Wear,14 Days Return & Excahnge,Regular
3,Old Navy,7463,Loose Crepe Button-Down Shirt,Womens Wear,olive,3106,India,M,Formal Shirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Celebration
4,Old Navy,12455,Tie-Shoulder Underwire One-Piece Swimsuit,Womens Wear,red,9260,US,XXL,Jeans,Denim,Bottom Wear,7 Days Return & Excahnge,Celebration
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,Peter England,1599,Men White Regular Fit Formal Half Sleev...,Mens Wear,blue,4067,UK,XL,Formal Shirt,Cotton,Top Wear,7 Days Return & Excahnge,Celebration
4614,Peter England,2499,Men Grey Check Slim Fit Formal Trousers,Mens Wear,green,6384,US,XXL,Formal Shirt,Denim,Top Wear,14 Days Return & Excahnge,Casual
4615,Peter England,1399,Men Grey Regular Fit Formal Full Sleeve...,Mens Wear,pink,9989,US,L,Tshirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Regular
4616,Peter England,2499,Men White Slim Fit Formal Full Sleeves ...,Mens Wear,pink,1380,US,XL,Tshirt,Cotton,Top Wear,14 Days Return & Excahnge,Celebration
4617,Peter England,2499,Men Blue Slim Fit Formal Full Sleeves F...,Mens Wear,brown,6115,UK,M,Tshirt,Denim,Top Wear,14 Days Return & Excahnge,Casual

In [107]:
data.to_csv("CapstoneClothingBrand", index=False)

In [1]:
import pandas as pd
data = pd.read_csv("CapstoneClothingBrand")

In [2]:
data

,Brand,Price,Description,Category,Color,Product Code,Origin,Size,Product Type,Material Type,Wear Type,Return Time,Occasion
0,Old Navy,8711,Loose Satin Button-Down Shirt,Womens Wear,pink,4636,India,XL,Sportswear,Denim,Top Wear,7 Days Return & Excahnge,Casual
1,Old Navy,12871,High-Waisted OG Loose Cotton-Hemp Blend Jeans ...,Womens Wear,yellow,1082,US,M,Formal Trouser,Polyster,Bottom Wear,14 Days Return & Excahnge,Casual
2,Old Navy,5383,Luxe Tunic T-Shirt,Womens Wear,red,8375,UK,M,Formal Trouser,Denim,Bottom Wear,14 Days Return & Excahnge,Regular
3,Old Navy,7463,Loose Crepe Button-Down Shirt,Womens Wear,olive,3106,India,M,Formal Shirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Celebration
4,Old Navy,12455,Tie-Shoulder Underwire One-Piece Swimsuit,Womens Wear,red,9260,US,XXL,Jeans,Denim,Bottom Wear,7 Days Return & Excahnge,Celebration
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,Peter England,1599,Men White Regular Fit Formal Half Sleev...,Mens Wear,blue,4067,UK,XL,Formal Shirt,Cotton,Top Wear,7 Days Return & Excahnge,Celebration
4614,Peter England,2499,Men Grey Check Slim Fit Formal Trousers,Mens Wear,green,6384,US,XXL,Formal Shirt,Denim,Top Wear,14 Days Return & Excahnge,Casual
4615,Peter England,1399,Men Grey Regular Fit Formal Full Sleeve...,Mens Wear,pink,9989,US,L,Tshirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Regular
4616,Peter England,2499,Men White Slim Fit Formal Full Sleeves ...,Mens Wear,pink,1380,US,XL,Tshirt,Cotton,Top Wear,14 Days Return & Excahnge,Celebration
4617,Peter England,2499,Men Blue Slim Fit Formal Full Sleeves F...,Mens Wear,brown,6115,UK,M,Tshirt,Denim,Top Wear,14 Days Return & Excahnge,Casual

In [3]:
# I want rename some columns
data.rename(columns={'Product Type': 'Product_Type', 'Wear Type': 'Wear_Type', 'Material Type':'Material_Type', 'Return Time':'Return_Time'}, inplace=True)

In [4]:
# Adding a 'S.no' column with sequence serial numbers
data.insert(0, 'Sno', range(1, 1 + len(data)))

In [5]:
data

,Sno,Brand,Price,Description,Category,Color,Product Code,Origin,Size,Product_Type,Material_Type,Wear_Type,Return_Time,Occasion
0,1,Old Navy,8711,Loose Satin Button-Down Shirt,Womens Wear,pink,4636,India,XL,Sportswear,Denim,Top Wear,7 Days Return & Excahnge,Casual
1,2,Old Navy,12871,High-Waisted OG Loose Cotton-Hemp Blend Jeans ...,Womens Wear,yellow,1082,US,M,Formal Trouser,Polyster,Bottom Wear,14 Days Return & Excahnge,Casual
2,3,Old Navy,5383,Luxe Tunic T-Shirt,Womens Wear,red,8375,UK,M,Formal Trouser,Denim,Bottom Wear,14 Days Return & Excahnge,Regular
3,4,Old Navy,7463,Loose Crepe Button-Down Shirt,Womens Wear,olive,3106,India,M,Formal Shirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Celebration
4,5,Old Navy,12455,Tie-Shoulder Underwire One-Piece Swimsuit,Womens Wear,red,9260,US,XXL,Jeans,Denim,Bottom Wear,7 Days Return & Excahnge,Celebration
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,4614,Peter England,1599,Men White Regular Fit Formal Half Sleev...,Mens Wear,blue,4067,UK,XL,Formal Shirt,Cotton,Top Wear,7 Days Return & Excahnge,Celebration
4614,4615,Peter England,2499,Men Grey Check Slim Fit Formal Trousers,Mens Wear,green,6384,US,XXL,Formal Shirt,Denim,Top Wear,14 Days Return & Excahnge,Casual
4615,4616,Peter England,1399,Men Grey Regular Fit Formal Full Sleeve...,Mens Wear,pink,9989,US,L,Tshirt,Cotton,Bottom Wear,14 Days Return & Excahnge,Regular
4616,4617,Peter England,2499,Men White Slim Fit Formal Full Sleeves ...,Mens Wear,pink,1380,US,XL,Tshirt,Cotton,Top Wear,14 Days Return & Excahnge,Celebration
4617,4618,Peter England,2499,Men Blue Slim Fit Formal Full Sleeves F...,Mens Wear,brown,6115,UK,M,Tshirt,Denim,Top Wear,14 Days Return & Excahnge,Casual

**Now,according to project we are extract 3 tables from this dataset.**

In [8]:
# Extracting Table 1
cb1 = data[["Sno","Brand", "Category", "Product_Type", "Description", "Product Code", "Price"]]
# Extracting Table 2
cb2 = data[["Sno","Wear_Type", "Material_Type","Color"]]
# Extracting Table 3
cb3 = data[["Sno","Size", "Origin", "Return_Time", "Occasion"]]

In [11]:
cb1.to_csv("cb1.csv", index=False)
cb2.to_csv("cb2.csv", index=False)
cb3.to_csv("cb3.csv", index=False)